.requirement {
    font-size: 14px;
    flex: 1 0 50%;
    min-width: max-content;
    margin: 2px 0;
}

.requirement:before {
    content: '\2639';
    padding-right: 5px;
    font-size: 1.6em;
    position: relative;
    top: .15em;
}

.requirement:not(.valid) {
    color: #808080;
}

.requirement.valid {
    color: #4CAF50;
}

.requirement.valid:before {
    content: '\263A';
}

.requirement.error {
    color: red;
}

button[type=submit]:disabled {
    color: #808080;
    background-color: #f5f5f5;
    cursor: not-allowed;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 14px;
}

button[type=submit] {
    transition: .10s;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 14px;
    background-color: #2450a2;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 14px;
    color: #fafafa;
}

button[type=submit]:not(:disabled):hover {
    border-color: transparent;
    background-color: #1f4793;
    color: #fafafa;
}

button[type=submit]:disabled {
    color: #808080;
    background-color: #f5f5f5;
    cursor: not-allowed;
}

#id_email:invalid {
    border-color: #900;
    background-color: #FDD;
}

#id_email:focus:invalid {
    outline: none;
}
